.terraform
.terraform*
*.tfstate*
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
terraform-provider-criblio
tests/e2e/local-plugins/registry.terraform.io/criblio/criblio/999.99.9/darwin_arm64/terraform-provider-criblio_v999.99.9
.speakeasy/**
