name: e2e Tests
on:
  push:
    branches: 
      - 'main'

concurrency:
  group: tfprovider2
  cancel-in-progress: false

jobs:
  e2e_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-go@v4.0.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: hashicorp/setup-terraform@v3

      - name: Run e2e Tests
        env:
          CRIBL_CLIENT_ID: ${{ secrets.CRIBL_CLIENT_ID }}
          CRIBL_CLIENT_SECRET: ${{ secrets.CRIBL_CLIENT_SECRET }}
          CRIBL_SERVER_URL: "https://app.cribl-playground.cloud"
          CRIBL_ORGANIZATION_ID: "beautiful-nguyen-y8y4azd"
          CRIBL_WORKSPACE_ID: "tfprovider2"
        run: | 
          make e2e-test

